# üìù Avalia√ß√£o 1¬∫ Bimestre

## ‚úÖ Parte 1 ‚Äì Quest√µes Objetivas e Te√≥ricas

### Quest√µes est√£o dispon√≠veis no AVA (5 pontos)

## üîß Parte 2 ‚Äì Pr√°tica Google Colab

Informe seu nome e RA

In [ ]:
usuario = input("Digite seu nome: ")
print("Nome do aluno:", usuario)
RA = input("Digite seu RA: ")
print("RA do aluno:", RA)

Digite seu nome: Marcelo
Nome do aluno: Marcelo
Digite seu RA: 121345
RA do aluno: 121345

**1. (0,5 pontos) Carregue o dataset JSON Netflix e exiba as 5 primeiras linhas.**
* JSON est√° dispon√≠vel em:  
 https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json

In [ ]:

import pandas as pd
url = 'https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json'
df = pd.read_json(url)
df.head(

:

**2. (1 ponto) Para cada coluna, apresentar a contagem de n√£o nulos e tipo do objeto .**

**3. (1 ponto) Apresente uma tabela com a quantidade de t√≠tulos por g√™nero.**

**4. (1 ponto) Crie uma coluna D√©cada que classifica os anos de lan√ßamento (year), agrupando em faixas:**
- "70s" : Entre 1970 e 1980
- "80s" : Entre 1980 e 1990
- "90s" : Entre 1990 e 2000
- "2000s" : Entre 2000 e 2010
- "2010s" : Entre 2010 e 2020
- "2020s" : Entre 2020 e 2030

**5. (1 ponto) Crie um gr√°fico que apresente Quantidade de filmes por d√©cada**

**6. (0,5 pontos) Explica√ß√£o do Insight:**

Escreva aqui sua interpreta√ß√£o sobre o gr√°fico e qual foi a d√©cada com mais produ√ß√µes. Quais Diretores aparecem com maior frequ√™ncia?