In [13]:
import pandas as pd

data = {
    'Nome': ['Ana', 'Bruno', 'Ana', 'Diana'],
    'Idade': [23, 35, 23, 40]
}
df = pd.DataFrame(data)

# Estatísticas da coluna Idade (média, min, max, etc)
print("Descrição Idade:")
print(df['Idade'].describe())

# Estatísticas da coluna Nome (contagem, valores únicos, valor mais frequente)
print("\nDescrição Nome:")
print(df['Nome'].describe())

# Contar quantas vezes cada nome aparece
print("\nContagem dos nomes:")
print(df['Nome'].value_counts())

# Mostrar os nomes únicos na coluna Nome
print("\nNomes únicos:")
print(df['Nome'].unique())

# Filtrar linhas onde Idade é maior que 30
print("\nPessoas com Idade > 30:")
print(df[df['Idade'] > 30])

# Adicionar uma nova coluna "Idade em 5 anos"
df['Idade + 5 anos'] = df['Idade'] + 5
print("\nDataFrame com nova coluna Idade + 5 anos:")
print(df)

# Ordenar DataFrame pela coluna Idade (do menor para maior)
print("\nDataFrame ordenado pela Idade:")
print(df.sort_values(by='Idade'))

# Resetar índice após ordenação
print("\nDataFrame ordenado pela Idade com índice resetado:")
print(df.sort_values(by='Idade').reset_index(drop=True))

Descrição Idade:
count     4.000000
mean     30.250000
std       8.616844
min      23.000000
25%      23.000000
50%      29.000000
75%      36.250000
max      40.000000
Name: Idade, dtype: float64

Descrição Nome:
count       4
unique      3
top       Ana
freq        2
Name: Nome, dtype: object

Contagem dos nomes:
Nome
Ana      2
Bruno    1
Diana    1
Name: count, dtype: int64

Nomes únicos:
['Ana' 'Bruno' 'Diana']

Pessoas com Idade > 30:
    Nome  Idade
1  Bruno     35
3  Diana     40

DataFrame com nova coluna Idade + 5 anos:
    Nome  Idade  Idade + 5 anos
0    Ana     23              28
1  Bruno     35              40
2    Ana     23              28
3  Diana     40              45

DataFrame ordenado pela Idade:
    Nome  Idade  Idade + 5 anos
0    Ana     23              28
2    Ana     23              28
1  Bruno     35              40
3  Diana     40              45

DataFrame ordenado pela Idade com índice resetado:
    Nome  Idade  Idade + 5 anos
0    Ana     23              28
1    Ana     23              28
2  Bruno     35              40
3  Diana     40              45